.Container{
    transform: rotate(90deg);
    position: fixed;
    right: -5%;
    top: 60%;
}
.mailLight{  
    text-decoration: none;
    color: #10357E;
    font-size: 18px;
    font-weight: 500;
}

.mailDark{  
    text-decoration: none;
    color: #F2522E;
    font-size: 18px;
    font-weight: 500;
}

.mailLight:hover{
   color: #F20505;
}

.mailDark:hover{
    color: #8b8888;
}


@media screen and (max-width: 1100px) {
    .Container{
        display: none;
    }
}